<!DOCTYPE html>
<html>
  <head>
    <title>TriviaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <div>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Sign Up", new_user_path %></li>
          <li><%= link_to "Login", login_path %></li>
          <li>Logout</li>
        </ul>
      </div>
    </nav>

     <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
